<% title "Interviews" %>

<%=link_to "Mostrar todas", todas_interviews_path%> | 
<%=link_to "Mostrar ausentes", ausentes_interviews_path%> | 
<%=link_to "Resumo", reports_interviews_path%> |
<%=link_to "Relatório de ausentes por bairro", report_ausentes_interviews_path%> | 
<%=link_to "Relatório de indecisos por bairro", indecisos_interviews_path%>|
<%=link_to "Relatório de negativos por bairro", negativos_interviews_path%>

<br><br>

<p><%= link_to "Criar nova", new_interview_path %></p>

