<%content_for :head do%>
	<%= wicked_pdf_stylesheet_link_tag "application" %>
<%end%>

<% title "Resumo da Pesquisa" %>

<%=link_to "Motrar todos", todas_interviews_path%> | 
<%=link_to "Motrar ausentes", ausentes_interviews_path%> | 
Resumo | 
<%=link_to "Relatório de ausentes por bairro", report_ausentes_interviews_path%> | 
<%=link_to "Relatório de indecisos por bairro", indecisos_interviews_path%>|
<%=link_to "Relatório de negativos por bairro", negativos_interviews_path%> | 
<%=link_to "Relatório de telefones por intenção de voto", telefones_interviews_path%>

<br><br>
<h2>Filtros</h2>
<%=form_tag "/interviews/reports", :method => :get%>
	<label>Bairro:</label>
	<%= collection_select nil, :bairro, @bairros, :bairro, :bairro,{:size=>"10"} %>
	<br /><br />
	<%=submit_tag "Filtrar"%>
	<br />
</form>

<br /><br />

<%=form_tag "/interviews/reports.pdf", :method => :get, :target=> "_blank"%>
	<%=hidden_field_tag :bairro, params[:bairro]%>
	<%=submit_tag "Gerar PDF"%>
</form>

<%=render :file => "/interviews/_resumo.html.erb"%>

<p><%= link_to "Voltar", interviews_path %></p>
