<% title "Resumo da Pesquisa" %>

<%=link_to "Motrar todos", interviews_path%> | <%=link_to "Motrar ausentes", ausentes_interviews_path%> | Resumo

<br><br>

<h2>Dos itens abaixo, nos diga o que mais interfere em sua vida:</h2>
Asfalto:<br />
<div style="width:100%; background-color:Grey;">
	<div style="width:<%=@perc_asfalto1%>%; background-color:#9dd99a; padding:5px;">
		<strong><%=@perc_asfalto1%></strong>
	</div>
</div>


Desemprego:<br />
<div style="width:100%; background-color:Grey;">
	<div style="width:<%=@perc_desemprego1%>%; background-color:#9dd99a; padding:5px;">
		<strong><%=@perc_desemprego1%></strong>
	</div>
</div>

Educação:<br />
<div style="width:100%; background-color:Grey;">
	<div style="width:<%=@perc_educacao1%>%; background-color:#9dd99a; padding:5px;">
		<strong><%=@perc_educacao1%></strong>
	</div>
</div>

Enchentes:<br />
<div style="width:100%; background-color:Grey;">
	<div style="width:<%=@perc_enchentes1%>%; background-color:#9dd99a; padding:5px;">
		<strong><%=@perc_enchentes1%></strong>
	</div>
</div>

Lazer:<br />
<div style="width:100%; background-color:Grey;">
	<div style="width:<%=@perc_lazer1%>%; background-color:#9dd99a; padding:5px;">
		<strong><%=@perc_lazer1%></strong>
	</div>
</div>

Mobilidade:<br />
<div style="width:100%; background-color:Grey;">
	<div style="width:<%=@perc_mobilidade1%>%; background-color:#9dd99a; padding:5px;">
		<strong><%=@perc_mobilidade1%></strong>
	</div>
</div>

Saneamento:<br />
<div style="width:100%; background-color:Grey;">
	<div style="width:<%=@perc_saneamento1%>%; background-color:#9dd99a; padding:5px;">
		<strong><%=@perc_saneamento1%></strong>
	</div>
</div>

Saúde:<br />
<div style="width:100%; background-color:Grey;">
	<div style="width:<%=@perc_saude1%>%; background-color:#9dd99a; padding:5px;">
		<strong><%=@perc_saude1%></strong>
	</div>
</div>

Segurança:<br />
<div style="width:100%; background-color:Grey;">
	<div style="width:<%=@perc_seguranca1%>%; background-color:#9dd99a; padding:5px;">
		<strong><%=@perc_seguranca1%></strong>
	</div>
</div>

Tráfico de Drogas:<br />
<div style="width:100%; background-color:Grey;">
	<div style="width:<%=@perc_trafico1%>%; background-color:#9dd99a; padding:5px;">
		<strong><%=@perc_trafico1%></strong>
	</div>
</div>

Trânsito:<br />
<div style="width:100%; background-color:Grey;">
	<div style="width:<%=@perc_transito1%>%; background-color:#9dd99a; padding:5px;">
		<strong><%=@perc_transito1%></strong>
	</div>
</div>


Transporte:<br />
<div style="width:100%; background-color:Grey;">
	<div style="width:<%=@perc_transporte1%>%; background-color:#9dd99a; padding:5px;">
		<strong><%=@perc_transporte1%></strong>
	</div>
</div>

NDA:<br />
<div style="width:100%; background-color:Grey;">
	<div style="width:<%=@perc_nda1%>%; background-color:#9dd99a; padding:5px;">
		<strong><%=@perc_nda1%></strong>
	</div>
</div>
<h3>Total: <%=@total_final1%></h3>


<h2>Dos itens abaixo, nos diga qual(is) mais impactam o seu bairro?</h2>
Asfalto:<br />
<div style="width:100%; background-color:Grey;">
	<div style="width:<%=@perc_asfalto2%>%; background-color:#9dd99a; padding:5px;">
		<strong><%=@perc_asfalto2%></strong>
	</div>
</div>


Desemprego:<br />
<div style="width:100%; background-color:Grey;">
	<div style="width:<%=@perc_desemprego2%>%; background-color:#9dd99a; padding:5px;">
		<strong><%=@perc_desemprego2%></strong>
	</div>
</div>

Educação:<br />
<div style="width:100%; background-color:Grey;">
	<div style="width:<%=@perc_educacao2%>%; background-color:#9dd99a; padding:5px;">
		<strong><%=@perc_educacao2%></strong>
	</div>
</div>

Enchentes:<br />
<div style="width:100%; background-color:Grey;">
	<div style="width:<%=@perc_enchentes2%>%; background-color:#9dd99a; padding:5px;">
		<strong><%=@perc_enchentes2%></strong>
	</div>
</div>

Lazer:<br />
<div style="width:100%; background-color:Grey;">
	<div style="width:<%=@perc_lazer2%>%; background-color:#9dd99a; padding:5px;">
		<strong><%=@perc_lazer2%></strong>
	</div>
</div>

Mobilidade:<br />
<div style="width:100%; background-color:Grey;">
	<div style="width:<%=@perc_mobilidade2%>%; background-color:#9dd99a; padding:5px;">
		<strong><%=@perc_mobilidade2%></strong>
	</div>
</div>

Saneamento:<br />
<div style="width:100%; background-color:Grey;">
	<div style="width:<%=@perc_saneamento2%>%; background-color:#9dd99a; padding:5px;">
		<strong><%=@perc_saneamento2%></strong>
	</div>
</div>

Saúde:<br />
<div style="width:100%; background-color:Grey;">
	<div style="width:<%=@perc_saude2%>%; background-color:#9dd99a; padding:5px;">
		<strong><%=@perc_saude2%></strong>
	</div>
</div>

Segurança:<br />
<div style="width:100%; background-color:Grey;">
	<div style="width:<%=@perc_seguranca2%>%; background-color:#9dd99a; padding:5px;">
		<strong><%=@perc_seguranca2%></strong>
	</div>
</div>

Tráfico de Drogas:<br />
<div style="width:100%; background-color:Grey;">
	<div style="width:<%=@perc_trafico2%>%; background-color:#9dd99a; padding:5px;">
		<strong><%=@perc_trafico2%></strong>
	</div>
</div>

Trânsito:<br />
<div style="width:100%; background-color:Grey;">
	<div style="width:<%=@perc_transito2%>%; background-color:#9dd99a; padding:5px;">
		<strong><%=@perc_transito2%></strong>
	</div>
</div>


Transporte:<br />
<div style="width:100%; background-color:Grey;">
	<div style="width:<%=@perc_transporte2%>%; background-color:#9dd99a; padding:5px;">
		<strong><%=@perc_transporte2%></strong>
	</div>
</div>

NDA:<br />
<div style="width:100%; background-color:Grey;">
	<div style="width:<%=@perc_nda2%>%; background-color:#9dd99a; padding:5px;">
		<strong><%=@perc_nda2%></strong>
	</div>
</div>
<h3>Total: <%=@total_final2%></h3>


<h2>E para Atibaia, o que deve ser feito com urgência na sua opinião?</h2>
Asfalto:<br />
<div style="width:100%; background-color:Grey;">
	<div style="width:<%=@perc_asfalto3%>%; background-color:#9dd99a; padding:5px;">
		<strong><%=@perc_asfalto3%></strong>
	</div>
</div>


Desemprego:<br />
<div style="width:100%; background-color:Grey;">
	<div style="width:<%=@perc_desemprego3%>%; background-color:#9dd99a; padding:5px;">
		<strong><%=@perc_desemprego3%></strong>
	</div>
</div>

Educação:<br />
<div style="width:100%; background-color:Grey;">
	<div style="width:<%=@perc_educacao3%>%; background-color:#9dd99a; padding:5px;">
		<strong><%=@perc_educacao3%></strong>
	</div>
</div>

Enchentes:<br />
<div style="width:100%; background-color:Grey;">
	<div style="width:<%=@perc_enchentes3%>%; background-color:#9dd99a; padding:5px;">
		<strong><%=@perc_enchentes3%></strong>
	</div>
</div>

Lazer:<br />
<div style="width:100%; background-color:Grey;">
	<div style="width:<%=@perc_lazer3%>%; background-color:#9dd99a; padding:5px;">
		<strong><%=@perc_lazer3%></strong>
	</div>
</div>

Mobilidade:<br />
<div style="width:100%; background-color:Grey;">
	<div style="width:<%=@perc_mobilidade3%>%; background-color:#9dd99a; padding:5px;">
		<strong><%=@perc_mobilidade3%></strong>
	</div>
</div>

Saneamento:<br />
<div style="width:100%; background-color:Grey;">
	<div style="width:<%=@perc_saneamento3%>%; background-color:#9dd99a; padding:5px;">
		<strong><%=@perc_saneamento3%></strong>
	</div>
</div>

Saúde:<br />
<div style="width:100%; background-color:Grey;">
	<div style="width:<%=@perc_saude3%>%; background-color:#9dd99a; padding:5px;">
		<strong><%=@perc_saude3%></strong>
	</div>
</div>

Segurança:<br />
<div style="width:100%; background-color:Grey;">
	<div style="width:<%=@perc_seguranca3%>%; background-color:#9dd99a; padding:5px;">
		<strong><%=@perc_seguranca3%></strong>
	</div>
</div>

Tráfico de Drogas:<br />
<div style="width:100%; background-color:Grey;">
	<div style="width:<%=@perc_trafico3%>%; background-color:#9dd99a; padding:5px;">
		<strong><%=@perc_trafico3%></strong>
	</div>
</div>

Trânsito:<br />
<div style="width:100%; background-color:Grey;">
	<div style="width:<%=@perc_transito3%>%; background-color:#9dd99a; padding:5px;">
		<strong><%=@perc_transito3%></strong>
	</div>
</div>


Transporte:<br />
<div style="width:100%; background-color:Grey;">
	<div style="width:<%=@perc_transporte3%>%; background-color:#9dd99a; padding:5px;">
		<strong><%=@perc_transporte3%></strong>
	</div>
</div>

NDA:<br />
<div style="width:100%; background-color:Grey;">
	<div style="width:<%=@perc_nda3%>%; background-color:#9dd99a; padding:5px;">
		<strong><%=@perc_nda3%></strong>
	</div>
</div>
<h3>Total: <%=@total_final3%></h3>

<h2>Se a eleição fosse hoje, em quem você votaria para prefeito?</h2>

Saulo: <br />
<div style="width:100%; background-color:Grey;">
	<div style="width:<%=@perc_saulo%>%; background-color:#9dd99a; padding:5px;">
		<strong><%=@perc_saulo%></strong>
	</div>
</div>

Prof. Wanderley: <br />
<div style="width:100%; background-color:Grey;">
	<div style="width:<%=@perc_wanderley%>%; background-color:#9dd99a; padding:5px;">
		<strong><%=@perc_wanderley%></strong>
	</div>
</div>

Luiz Fernando: <br />
<div style="width:100%; background-color:Grey;">
	<div style="width:<%=@perc_luiz%>%; background-color:#9dd99a; padding:5px;">
		<strong><%=@perc_luiz%></strong>
	</div>
</div>

Promotor Arthur: <br />
<div style="width:100%; background-color:Grey;">
	<div style="width:<%=@perc_arthur%>%; background-color:#9dd99a; padding:5px;">
		<strong><%=@perc_arthur%></strong>
	</div>
</div>

Nulo/Branco: <br />
<div style="width:100%; background-color:Grey;">
	<div style="width:<%=@perc_nulo%>%; background-color:#9dd99a; padding:5px;">
		<strong><%=@perc_nulo%></strong>
	</div>
</div>

Indeciso: <br />
<div style="width:100%; background-color:Grey;">
	<div style="width:<%=@perc_indeciso%>%; background-color:#9dd99a; padding:5px;">
		<strong><%=@perc_indeciso%></strong>
	</div>
</div>

Não Respondeu: <br />
<div style="width:100%; background-color:Grey;">
	<div style="width:<%=@perc_naorespondeu%>%; background-color:#9dd99a; padding:5px;">
		<strong><%=@perc_naorespondeu%></strong>
	</div>
</div>
<h3>Total: <%=@total_final4%></h3>


<p><%= link_to "Voltar", interviews_path %></p>
